@tailwind base;
@tailwind components;
@tailwind utilities;

.button-group {
  display: inline-flex;
  @apply overflow-hidden rounded-md bg-white text-sm font-medium shadow-md;
}

.button-group > button {
  @apply rounded-none shadow-none border-r last:border-none;
}

span {
  line-height: 2rem;
}

.el-input__inner.el-input__inner {
  font-size: initial;
}